.client_form,
.client_update_form,
.vehicle_form,
.vehicle_update_form {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  margin-top: 3vw;
  margin-bottom: 1vw;
  max-width: 30vw;
  margin-right: 3vw;
  margin-left: 5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.client_form div,
.client_update_form div,
.vehicle_form div,
.vehicle_update_form div {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.client_form div input,
.client_update_form div input,
.vehicle_form div input,
.vehicle_update_form div input {
  width: 15vw;
  text-align: center;
  background: none;
  border: thin solid;
  border-radius: 0.5vw;
  margin: 0 2vw;
}

.client_form div input,
.client_update_form div input {
  height: 30px;
}
.vehicle_form div input,
.vehicle_update_form div input {
  height: 25px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#submit {
  font-size: 25px;
  background: none;
  border: thin solid;
  border-radius: 10px;
  margin: 0 2vw;
  margin-top: 1vw;
}

.vehicle_form div input[type="checkbox"],
.vehicle_update_form div input[type="checkbox"] {
  height: 1vw;
}
.vehicle_form div select,
.vehicle_update_form div select {
  width: 5vw;
  margin: 0 auto;
}
