.client_form,
.client_update_form {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  margin-bottom: 5vw;
  max-width: 30vw;
  margin-right: 3vw;
  margin-left: 5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.client_form div,
.client_update_form div {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.client_form div input,
.client_update_form div input {
  width: 15vw;
  height: 30px;
  text-align: center;
  background: none;
  border: thin solid;
  border-radius: 0.5vw;
  margin: 0 2vw;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.client_form .title_client_update_form {
  display: none;
}

.client_update_form .title_client_form {
  display: none;
}

#submit {
  font-size: 25px;
  background: none;
  border: thin solid;
  border-radius: 10px;
  margin: 0 2vw;
  margin-top: 1vw;
}
