.client_form,
.client_update_form {
  display: none;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 30px;
  max-width: 30vw;
  margin-right: 3vw;
  margin-left: 5vw;
}

.client_form div,
.client_update_form div {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.client_form div input,
.client_update_form div input {
  width: 15vw;
  height: 30px;
  text-align: center;
  background: none;
  border: thin solid;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

#submit {
  font-size: 25px;
  background: none;
  border: thin solid;
  border-radius: 10px;
  margin-top: 10px;
}
