.filter_bar {
  background-color: #fff;
  margin-left: 5vw;
  color: rgb(69, 69, 70);
  border-radius: 5px;
  border: thin solid rgb(70, 69, 69);
  font-size: 1.2vw;
  margin-top: 1vw;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.filter_bar input {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1vw;
}