.vehicle_form,
.vehicle_update_form {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  margin-bottom: 5vw;
  max-width: 30vw;
  margin-right: 3vw;
  margin-left: 5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.vehicle_form div,
.vehicle_update_form div {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.vehicle_form div input,
.vehicle_update_form div input {
  width: 15vw;
  height: 25px;
  text-align: center;
  background: none;
  border: thin solid;
  border-radius: 0.5vw;
  margin: 0 2vw;
}

.vehicle_form div input[type="checkbox"],
.vehicle_update_form div input[type="checkbox"] {
  height: 1vw;
}
.vehicle_form div select,
.vehicle_update_form div select {
  width: 5vw;
  margin: 0 auto;
}

.vehicle_form .title_vehicle_update_form {
  display: none;
}

.vehicle_update_form .title_vehicle_form {
  display: none;
}

#submit {
  font-size: 20px;
  background: none;
  border: thin solid;
  border-radius: 10px;
  margin: 0 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
