.client {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-left: 200px;
}

.client p {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.client p span {
  font-size: 23px;
  color: #000;
}

.delete_button,
.edit_button {
  display: block;
  color: rgb(70, 69, 69);
  background: none;
  border: none;
  font-size: 1.5vw;
  margin-top: 0;
  margin-left: 5px;
}
