.client {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 5px;
  margin-left: 5vw;
  max-width: 65vw;
  min-width: 65vw;
  height: 5vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.client div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.client p {
  margin: 0;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.client p span {
  font-size: 21px;
  color: #000;
}

.delete_button,
.edit_button {
  align-items: flex-end;
  color: rgb(70, 69, 69);
  background: none;
  border: none;
  font-size: 1.5vw;
  margin-top: 0;
  margin-right: 0.5vw;
}
